.container{
    padding: 1% 0%;
    display: flex;
}

.titulo{
    margin: 0% 3%;
}

.canciones{
    padding: 2% 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

